<div class="adatlap-wrapper">
  @if (toAdat(); as to) {
    <div class="adatlap">
      <button routerLink="/tavak" class="back-btn">
        ← Vissza a listához
      </button>

      <!-- FEJLÉC -->
      <header>
        <h1>{{ to.nev }}</h1>
        <p class="subtitle">
          <strong>{{ to.tipus }}</strong> |
          {{ to.telepules }}
        </p>
      </header>

      <!-- KÉP -->
      @if (to.kepUrl) {
        <div class="image-section">
          <img [src]="to.kepUrl" [alt]="to.nev">
        </div>
      }

      <!-- GYORS ADATOK -->
      <div class="details-grid">
        <div class="detail-item">
          <span>Terület</span>
          <strong>{{ to.terulet_ha }} ha</strong>
        </div>

        <div class="detail-item">
          <span>Vízmélység</span>
          <strong>{{ to.vizmelyseg }} m</strong>
        </div>

        <div class="detail-item">
          <span>Horgászállások</span>
          <strong>{{ to.helyek_szama }} db</strong>
        </div>

        <div class="detail-item">
          <span>Sport napijegy</span>
          <strong>{{ to.sport_napijegy_ar }} Ft</strong>
        </div>
      </div>

      <!-- LEÍRÁS -->
      <section class="content-section">
        <h3>Leírás</h3>
        <p>{{ to.leiras }}</p>
      </section>

      <!-- HALFajok -->
      <section class="content-section">
        <h3>Halfajok</h3>
        <div class="tag-list">
          @for (hal of to.halfajok; track hal) {
            <span class="tag">{{ hal }}</span>
          }
        </div>
      </section>

      <!-- MÓDSZEREK -->
      <section class="content-section">
        <h3>Ajánlott módszerek</h3>
        <div class="tag-list">
          @for (modszer of to.ajanlott_modszerek; track modszer) {
            <span class="tag method-tag">{{ modszer }}</span>
          }
        </div>
      </section>

      <!-- SZABÁLYOK -->
      <section class="content-section">
        <h3>Szabályok</h3>
        <div class="tag-list">
          @for (szabaly of to.szabalyok; track szabaly) {
            <span class="tag rule-tag">{{ szabaly }}</span>
          }
        </div>
      </section>

      <!-- EXTRA INFÓK -->
      <section class="content-section">
        <h3>További információk</h3>

        <div class="info-list">
          <div>
            <strong>Cím:</strong>
            {{ to.cim }}
          </div>

          <div>
            <strong>Éjszakai horgászat:</strong>
            {{ to.ejszakai_horgaszat ? 'Igen' : 'Nem' }}
          </div>

          <div>
            <strong>Csónakhasználat:</strong>
            {{ to.csonak_hasznalat ? 'Igen' : 'Nem' }}
          </div>
        </div>
      </section>
    </div>
  }
</div>