<div class="page-title">
  <h1>PecaPont története</h1>
</div>

<div class="szovegdoboz vilagos">
  <div class="intro-text">
    <h2>Üdvözlöm!</h2>
    <p>
      A nevem Szabó Patrik Péter, a Szegedi Tudományegyetem TTIK karának Programtervező Informatika szakán tanulok immáron 3. éve.<br><br>

      22 éves vagyok, és szenvedélyem a programozás, valamint a webfejlesztés. De ami ezeknél is fontosabb számomra, az a természet és a víz szeretete, ezeken belül is a horgászaté.<br><br>

      Ennek hatására született meg a PecaPont ötlete, amely egy olyan platform, ahol a horgászok könnyedén regisztrálhatnak, információkat találhatnak, és kapcsolatba léphetnek egymással.<br><br>

      Célom, hogy a PecaPont segítségével egy közösséget építsek, ahol a horgászok megoszthatják tapasztalataikat, tippjeiket, és együtt élvezhetik a horgászat örömeit.
      Információt kaphatnak számukra ismeretlen vizekről, technikákról és felszerelésekről is.<br><br>

      Remélem, hogy a PecaPont hozzájárul majd a horgászat népszerűsítéséhez, és segít abban, hogy még több ember fedezze fel ezt a csodálatos hobbit.
    </p>
  </div>

  <div class="intro-image">
    <img
      src="assets/images/rolunk/en.jpg"
      alt="Szabó Patrik Péter, a PecaPont megálmodója"
    >
  </div>
</div>

<div class="egymasmellett">
  <div class="mellett vilagos">
    <p>
      Tapasztalataim és a kutatásom alatt összegyűlt ismereteim alapján úgy érzem, hogy a PecaPont egyedülálló lehetőséget kínál a horgászok számára.
      Egy helyen találhatják meg mindazt, amire szükségük van a horgászat megkezdéséhez egy eddig ismeretlen partszakaszon.
    </p>
  </div>

  <div class="mellett sotet">
    <p>
      Az oldal rendszeres frissítésekkel és új funkciókkal bővül, hogy mindig a legfrissebb információkat és eszközöket kínálja a felhasználóknak.
    </p>
  </div>
</div>

<div class="egymasmellett">
  <div class="mellett sotet">
    <p>
      Mindezek mellett szerettem volna megkönnyíteni nem csak a tó, de az azon belül található hely kiválasztását is.
    </p>
  </div>

  <div class="mellett vilagos">
    <p>
      Összességében úgy gondolom, hogy a PecaPont egy innovatív és hasznos platform, amely jelentősen hozzájárulhat a horgászat népszerűsítéséhez.
    </p>
  </div>
</div>

<footer id="info">
  <p>
    PecaPont<br>
    Email: szabo.patrik.peter@gmail.com<br>
    Telefon: +36 70 629 5007
  </p>
</footer>