body {
    background-color: RGB(92, 85, 85);
    color: white;
    text-align: center;
    font-size: 19px;
    border-spacing: 10px;
}

h1 {
    text-align: center;
    padding-top: 3%;
    top: 50%;
    left: 50%;
}

.vilagos {
    background-color: RGB(140, 130, 130);
}

.sotet {
    background-color: RGB(79, 73, 73);
}

.egymasmellett {
    display: flex;
    flex-wrap: nowrap;
}

.mellett {
    width: 50%;
    border-radius: 10px;
    padding: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 30px;
}

#info {
    background-color: RGB(79, 73, 73);
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 1%;
    margin-left: 1%;
    font-style: italic;
    bottom: 0;
}

.navbar {
    background-color: RGB(79, 73, 73);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 10px;
    transition: top 0.3s;
}

.navbar a {
    text-align: center;
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .icon {
    display: none;
}

@media (max-width: 900px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar:hover {
        position: fixed;
    }

    .navbar:hover .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar:hover a {
        text-align: left;
        float: none;
        display: block;
    }

    .egymasmelett {
        flex-direction: column;
        align-items: center;
    }

    .szovegdoboz {
        flex-direction: column;
        align-items: center;
    }
}
