<nav class="navbar">

  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Főoldal</a>
  <a routerLink="/tavak" routerLinkActive="active">Tavak</a>
  <a routerLink="/hirek" routerLinkActive="active">Hírek</a>
  <a routerLink="/versenyek" routerLinkActive="active">Versenyek</a>
  <a routerLink="/galeria" routerLinkActive="active">Galéria</a>
  <a routerLink="/rolunk" routerLinkActive="active">Rólunk</a>

  @if (auth.user$ | async; as firebaseUser) {

    <a routerLink="/profil">Profil</a>
    <a routerLink="/kepfeltoltes">Kép feltöltése</a>

    <p>APPUSER: {{ auth.appUser$ | async | json }}</p>

    @if (auth.appUser$ | async; as user) {
      @if (user?.role === 'admin') {
        <a routerLink="/admin">Admin</a>
      }
    }

    <a (click)="logout()">Kijelentkezés</a>

  } @else {

    <a routerLink="/bejelentkezes">Bejelentkezés</a>

  }

</nav>