.navbar {
    background-color: RGB(79, 73, 73);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 10px;
    transition: top 0.3s;
}

.navbar a {
    text-align: center;
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .icon {
    display: none;
}

@media (max-width: 900px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar:hover {
        position: fixed;
    }

    .navbar:hover .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar:hover a {
        text-align: left;
        float: none;
        display: block;
    }
}