body{
  margin:0;
  color:var(--text-light);
  font-family: "Segoe UI", Roboto, sans-serif;
}

section{
  padding:60px 10%;
}

h1,h2,h3{
  color:var(--text-light);
}

// bevezető

.hero{
  height:70vh;
  width: 100%;

  background-image: url("/assets/images/hero/hero4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;

  padding: 40px 20px;
}

.hero-content{
  background:rgba(0,0,0,0.5);
  padding:40px;
  border-radius:10px;
  color: white;
}

.cta-button{

  display:inline-block;
  margin-top:20px;

  padding:12px 28px;

  background:var(--accent);
  color:white;

  text-decoration:none;
  border-radius:6px;

  font-weight:600;

  transition:0.3s;

}

.cta-button:hover{
  background:var(--accent-hover);
}

// "fedezd fel"

.quick-menu{
  text-align:center;
}

.quick-menu h2{
  font-size:28px;
  margin-bottom:10px;
}

.card-container{
  margin-top:40px;

  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

  gap:30px;
}

.card{
  //padding: 15px 15px;

  display: block;

  background: var(--bg-secondary);

  border-radius:14px;
  overflow: hidden;

  box-shadow:0 10px 25px rgba(0,0,0,0.35);

  transition:all 0.25s ease;
}

.card:hover{
  transform:translateY(-8px) scale(1.02);

  box-shadow:0 15px 35px rgba(0,0,0,0.35);
}

.card img{
  width: 100%;
  height: 100%;
  border-radius: 14px;

  object-fit: cover;

  display: block;
}

.card h3{
  font-size:20px;
  font-weight:600;
}

@media (max-width:768px){

  .card{
    padding:30px 20px;
  }

  .card-icon{
    width:90px;
    height:90px;
  }

}

// "Legújabb fogások"

.gallery-preview{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

.gallery-preview img{
  width:100%;
  border-radius:8px;
  transition:0.3s;
}

.gallery-preview img:hover{
  transform:scale(1.05);
}

.lake-card{
  flex:1;
  background:var(--card-bg);
  color:var(--text-dark);
  border-radius:10px;
  overflow:hidden;
}

.news-preview{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.news-card{
  padding:20px;
  background:var(--card-bg);
  color:var(--text-dark);
  border-radius:10px;
}

.community{
  text-align:center;
  background:#f5f5f5;
}

footer{

  background:var(--bg-secondary);

  padding:30px;
  text-align:center;

  color:var(--text-light);

}